<% layout('layouts/app') %>

<section class="my-4 mx-40">
  <h2 class="text-4xl text-center mb-8">Stocks</h2>

  <div class="flex flex-wrap justify-center gap-4">
    <% productTypes.forEach((type) => { %>
    <div class="card w-72 bg-base-100 card-sm shadow-sm">
      <div class="card-body">
        <div class="flex items-start">
          <h3 class="card-title text-zinc-500"><%= type.type_name %></h3>
          <div class="badge badge-ghost ml-auto p-1 min-h-0 h-auto">
            <img
              src="/img/<%= type.type_name.toLowerCase() %>.png"
              alt="<%= type.type_name %>"
              class="w-8 h-8 grayscale dark:invert"
            />
          </div>
        </div>
        <div>
          <p class="text-3xl font-bold"><%= type.current_stock %></p>
          <p class="text-zinc-500">
            dari <%= type.last_month_stock %> bulan terakhir
          </p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</section>

<section class="my-8">
  <h2 class="text-4xl text-center mb-8">Latest Orders</h2>
  <div
    class="rounded-lg border border-base-content/5 bg-base-100 mx-80 overflow-x-auto"
  >
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>ID</th>
          <th>User</th>
          <th>Email</th>
          <th>Status</th>
          <th>Items</th>
          <th>Total</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% if (latestOrders && latestOrders.length) { %> <%
        latestOrders.forEach(order => { %>
        <tr>
          <td><%= order.order_id %></td>
          <td>
            <%= order.customer_name.charAt(0).toUpperCase() +
            order.customer_name.slice(1) %>
          </td>
          <td><%= order.customer_email %></td>
          <td><%= order.status %></td>
          <td><%= order.item_count %></td>
          <td><%= formatRupiah(order.total_amount) %></td>
          <td><%= new Date(order.created_at).toLocaleDateString() %></td>
        </tr>
        <% }) %> <% } else { %>
        <tr>
          <td
            colspan="7"
            class="text-center"
          >
            No orders found
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
